.main{
    display:flex;
    flex-direction: column;
}
.knop{
    display:flex;
    flex-direction: row;
}
.big{
    width:600px;
    height:600px;
    border:1px solid black;
}
h1{
    color:blue;
    font-size:20px;
}
.zad{
    width:100px;
    height:40px;
    color:black;
    background-color: rgb(0, 174, 255);
    text-align:center;
}